/* styles.css */

.services-container {
    /*background-color: #0b0000;*/
    background-color: #1a0f0f ;
    color: #00ff99;
    text-align: center;
    padding: 50px 20px;
}

.services-container h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

.services-container h1 span {
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.services-container h1 span:hover {
    transform: scale(1.1);
    color: #ff33cc;
}

.services-container p {
    color: #888888;
    margin-top: 10px;
    font-size: 1.2em;
}
